.dashboard
  padding 0 120px
  max-width 1440px
  margin 0 auto
  @media (max-width: 560px)
    padding: 0 8px

.cross
  background #fff
  height 14px
  position relative
  width 2px
  &::after
    background #fff
    content ""
    height 2px
    left -6px
    position absolute
    top 6px
    width 14px

.content
  position absolute
  top 50%
  left 50%
  right auto
  bottom auto
  margin-right -50%
  transform translate(-50%, -50%)
  height 100%
  width 100%
  transition opacity 3s
  animation fadeIn 0.5s
  background-color #f8f8fa  

.closeModal
  cursor pointer
  display flex
  flex-direction row
  align-items baseline
  position absolute
  top 45px
  right 40px

.modal
  display flex
  justify-content center

.modal button[type=submit]
   margin 38px auto 0 auto 

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
    